body {
    margin-top: 3.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /*for scrollspy: linking sections with navigation bar at scrolling*/
    position: relative;
}

/*Navigation Bar*/

.navbar {
    padding: 0.7em 2em;    
}

nav li a {
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.6) !important;
}

nav li a:hover, nav li a.active, .navbar-brand:hover {
    color: white !important;
}

nav a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.navbar-brand {
    font-size: 1em;
    margin-left: 0.5em;
    margin-right: 1em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8) !important;
}

.media-icon-navbar {
    font-size: 1.7em;
    margin-left: 0;
    margin-right: 0;
    color: rgba(255, 255, 255, 0.7);
}

a:hover .media-icon-navbar {
    color: rgba(255, 255, 255, 1);
}

.navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    border: 0.1em solid rgba(255, 255, 255, 0.7);
}

/*Jumbotron*/

.jumbotron {
    margin-bottom: 0;
    margin-top: 0;
    background-color: #179b9f;
    color: white;
    border-radius: 0;
    padding-top: 4.5em;
    padding-bottom: 3.5em;
}

#my-logo-navbar {
    margin-bottom: 1em;
}

.jumbotron p {
    font-size: 1.3em;
}

/*Sections*/

.title-section {
    padding-top: 5em;
    padding-bottom: 3em;
}

.section-box {
    padding: 1em 1.5em 5em 1.5em;    
}

.section-devider {
    background-color: rgba(255, 255, 255, 0.7);    
}

/*Section: About*/

#about {
    color: rgb(52, 58, 64);
}

#introduction-img {
    border-radius: 50%;
    height: 14em;
    width: 12.5em;
    margin-bottom: 2em;
}

#introduction-text {
    font-size: 1.1em;
    color: rgb(52, 58, 64);
    text-align: justify;    
}

.skills-box {
    padding-top: 0.5em;
    font-size: 1.1em;
    color: rgb(52, 58, 64);    
}

p.tools {
    margin-bottom: 0;
}

/*Section: Projects*/

#projects {
    color: rgb(52, 58, 64);
    border-top: 1px solid rgba(65, 105, 225, 0.2);
    border-bottom: 1px solid rgba(65, 105, 225, 0.2);
}

/* Button Tags */

.btn {
    border: none;
    background-color: white;
    border: 0.1em solid rgba(52, 58, 64, 0.7);
    color: rgb(52, 58, 64);
    border-radius: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.btn:hover {
    background-color: rgba(52, 58, 64, 1);
    color: white;
    box-shadow: none;
    transform: translateY(0.1em);
}

.tag-clicked {
    margin-bottom: 1em;
}

/*Change background color of clicked tag and animate*/

.tag-clicked:focus {
    background-color: rgba(52, 58, 64, 1);
    color: white;
    box-shadow: none;
}

/* Project container */

.project-outer-box {   
    padding: 1em;
    margin-top: 2em;      
}

.project-inner-box {
    background-color: rgba(234, 238, 241, 0.979);
    position: relative;
    padding: 0 1.5em 1.5em 1.5em;
    box-shadow: 0.2em 0.3em 0.3em rgba(52, 58, 64, 0.3);
}

/*Project name and technology */

.project-name {
    padding: 1em;
    margin: 0;
    color: rgb(52, 58, 64);
    font-size: 1.2em;    
}

.project-img-box {
    padding: 0;
    margin: 0;   
}

.project-img-box:hover {
    opacity: 0.5;
}

/*Buttons for view live, code, description in project image */

/*Button animation*/

.btn:active {
    transform: translateY(0.1em);
    box-shadow: none;
}

.btnproject-page-buttons-box:focus {
    box-shadow: none;
}

/* More projects available at */
.media-icon-more{
    font-size: 2em;
    margin-left: 0;
    margin-right: 0;
    color: rgba(0, 0, 0, 0.7);
}
.media-icon-more:hover{
    color: rgba(0, 0, 0, 0.9);
}
.more-projects{
    font-size: 1.3em;
    margin-top: 2em;
}

/*Section: Contact*/

#contact {
    background-color: #179b9f;
    padding-bottom: 4em;
    color: white;
}

#email {
    margin-bottom: 2em;
}

#email p {
    font-weight: 400;
    font-size: 1.2em;
}

/*Icons social media*/

.media-icon-contact {
    font-size: 2em;
    color: white;
    margin: 0 0.2em 0.2em 0.2em;
    border: 0.1em solid white;
    border-radius: 50%;
    padding: 0.3em;
}

a:hover .media-icon-contact {
    color: #179b9f;
    background-color: white;
}

/*Footer*/

#footer {
    padding: 1.5em 0 0.5em 0;
    background-color: rgb(52, 58, 64);
    color: rgba(255, 255, 255, 0.6);
}

/*Project Details Page*/

#project-page-box {
    color: rgb(52, 58, 64);   
}

.project-page-details {
    color: rgb(52, 58, 64);
    text-align: left;     
}

/*Carousel*/

#project-page-carousel {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.carousel-indicators, .carousel-control-prev, .carousel-control-next {
    filter: invert(95%) !important;
    position: absolute;
}

.carousel-indicators {
    bottom: -3em;
}

.carousel-control-prev, .carousel-control-next {
    margin-left: -2.1em;
    margin-right: -2.1em;
}

.carousel-item img {
    border: 0.1em solid rgba(0, 0, 0, 0.7);
    border-radius: 0 !important;
    padding: 0.6em;
    width: 90% !important;
}

#project-screenshots {
    margin-bottom: 4em;
    padding-left: 0;
    padding-right: 0;
}

/*Buttons for view live/code on project details page */

.project-page-buttons-box {
    margin-top: 2em;
}
