body {
  font-size: 18px;
  position: relative;
}

.btn, .card, .navbar-toggler, .card-img, .card-img-top {
  border-radius: 0% !important;
}

.nav-link {
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 1.1em;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

section {
  text-align: center;
  padding: 5em 0;
}

.section-title {
  margin-bottom: 3em;
  color: rgba(0, 0, 0, 0.8);
}

.divider {
  text-align: center;
  width: 15em;
  margin: 0 auto;
  border-bottom: 2px solid rgba(25, 53, 80, 0.2);
}

.btn {
  color: rgb(189, 6, 113);
}

img.intro-image {
  width: 45%;
}

.my-name {
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0.1em 0.2em 0.1em rgba(25, 53, 80, 0.3);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.my-profession {
  color: rgb(189, 6, 113);
  box-shadow: 0.1em 0.2em 0.1em rgba(52, 64, 55, 0.3);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.intro-message {
  margin-top: 2em;
}

.card-about, .card-skills, .card-project {
  border: 2px solid rgba(25, 53, 80, 0.3);
  box-shadow: 0.1em 0.2em 0.1em rgba(25, 53, 80, 0.3);
}

.card-subtitle {
  font-size: 0.9em;
  margin-top: 0!important;
}

.card-technology {
  font-size: 0.8em;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.4;
}

.project-carousel {
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 1.3em;
  height: 1.3em;
  background-repeat: no-repeat;
  /* filter: brightness(0.8) sepia(10) hue-rotate(-75deg) saturate(90) !important; */
}

.carousel-control-prev-icon {
  margin-left: -1.5em;
}

.carousel-control-next-icon {
  margin-right: -1.5em;
}

.more-projects {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.2em;
}

/* Icons */

.media-icon-contact, .icon-contact-small {
  color: rgba(0, 0, 0, 0.9);
  margin: 0.2em;
  border-radius: 50%;
}

.media-icon-contact {
  font-size: 2em;
}

.icon-contact-small {
  font-size: 1.5em;
}

.icon-viewcode {
  margin-left: 0.2em;
  margin-bottom: 0.2em;
}

a:hover .media-icon-contact, a:hover .icon-contact-small {
  color: rgba(0, 0, 0, 0.6);
}

.to-top {
  margin-top: 1em;
  font-size: 2em;
}

.to-top a {
  color: rgba(0, 0, 0, 0.9);
}

.to-top a:hover {
  color: rgba(0, 0, 0, 0.6);
}

#footer {
  background-color: rgba(25, 53, 80, 0.2);
}

/* XS devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 3em 1em;
  }
  img.intro-image {
    width: 55%;
  }
  .my-name {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-profession {
    margin-left: 0;
    margin-right: 0;
  }
  .carousel-control-prev-icon {
    margin-left: -1.6em;
  }
  .carousel-control-next-icon {
    margin-right: -1.6em;
  }
  .card-skills {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  .card-about {
    margin-bottom: 1em !important;
    margin-top: 0 !important;
  }
   .card-project {
    margin-bottom: 2em !important;
    margin-top: 0 !important;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 3em 1em;
  }
  #intro {
    padding-left: 10%;
    padding-right: 10%;
  }
  img.intro-image {
    width: 50%;
  }
  .my-profession {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .carousel-control-prev-icon {
    margin-left: -1.6em;
  }
  .carousel-control-next-icon {
    margin-right: -1.6em;
  }
  .card-skills {
    margin-bottom: 0.5em !important;
  }
  .card-about {
    margin-bottom: 1em !important;
    margin-top: 0 !important;
  }
  .card-project {
    margin-bottom: 2em !important;
    margin-top: 0 !important;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }
  #intro {
    padding-left: 15%;
    padding-right: 15%;
  }
  img.intro-image {
    width: 45%;
  }
  .card-about, .card-skills {
    margin-bottom: 0.5em !important;
  }
  .card-about {
    margin-bottom: 1em !important;
    margin-top: 0 !important;
  }
  .card-project {
    margin-bottom: 2em !important;
    margin-top: 0 !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
  #intro {
    padding-left: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1399px) {
  .projects>.row-cols-lg-3 {
    padding-right: 3em;
    padding-left: 3em;
  }
  #intro {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* Super Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1400px) {
  .projects>.row-cols-lg-3 {
    padding-right: 5em;
    padding-left: 5em;
  }
  #intro {
    padding-left: 30%;
    padding-right: 30%;
  }
}