body {
  font-size: 20px;
  position: relative;
}

nav.bg-light {
  background-color: rgba(10, 21, 121, 0.2)!important;
}

.nav-link {
  color: rgba(45, 33, 97, 1) !important;
  font-size: 1.1em;
  ;
}

.nav-link:hover {
  color: rgba(45, 33, 97, 0.7) !important;
}

section {
  text-align: center;
  padding: 5em 0;
}

.section-title {
  margin-bottom: 2.5em;
}

.divider {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(45, 33, 97, 0.2);
}

img.intro-image {
  width: 45%;
}

.my-name {
  color: rgba(10, 21, 121, 0.8);
  box-shadow: 0.1em 0.2em 0.1em rgba(25, 53, 80, 0.3);
  border-radius: 4px;
  padding-bottom: 0.3em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.my-profession {
  border-radius: 4px;
  color: rgb(189, 6, 113);
  box-shadow: 0.1em 0.2em 0.1em rgba(52, 64, 55, 0.3);
  padding-bottom: 0.3em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1.5em;
}

.welcome-text {
  margin-top: 2em;
  margin-bottom: 1em;
}

.card-about, .card-skills, .card-project {
  background-color: rgba(148, 156, 248, 0.3) !important;
}

.card-title {
  color: rgb(189, 6, 113);
}

.card-technology {
  font-size: 0.8em;
}

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.4;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 1.3em;
  height: 1.3em;
  background-repeat: no-repeat;
  /* filter: brightness(0.8) sepia(10) hue-rotate(-75deg) saturate(90) !important; */
}

.more-projects {
  margin-top: 3em;
  font-size: 1.2em;
}

/* Icons */

.media-icon-contact, .icon-contact-small {
  color: rgba(45, 33, 97, 0.9);
  margin: 0.2em;
  border-radius: 50%;
}

.media-icon-contact {
  font-size: 2em;
}

.icon-contact-small {
  font-size: 1.5em;
}

.icon-viewcode {
  margin-left: 0.2em;
  margin-bottom: 0.2em;
}

a:hover .media-icon-contact, a:hover .icon-contact-small {
  color: rgba(45, 33, 97, 0.7);
}

#footer {
  background-color: rgba(227, 229, 250, 1) !important;
}

/* XS devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 3em 0;
  }
  img.intro-image {
    width: 55%;
  }
  .my-name {
    margin-left: 1em;
    margin-right: 1em;
  }
  .my-profession {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 3em 0;
  }
  #intro {
    padding-left: 10%;
    padding-right: 10%;
  }
  img.intro-image {
    width: 50%;
  }
  .my-profession {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }
  #intro {
    padding-left: 15%;
    padding-right: 15%;
  }
  img.intro-image {
    width: 45%;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
  #intro {
    padding-left: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1399px) {
  .projects>.row-cols-lg-3 {
    padding-right: 3em;
    padding-left: 3em;
  }
  #intro {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* Super Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1400px) {
  .projects>.row-cols-lg-3 {
    padding-right: 5em;
    padding-left: 5em;
  }
  #intro {
    padding-left: 30%;
    padding-right: 30%;
  }
  .row-project-cards {
    margin-left: 3em;
    margin-right: 3em;
  }
}